
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#home {
  background-image: url('logo1.gif');
  background-color: black;

  height: 100vh;

  background-position:center;
  background-repeat: no-repeat;
  background-size:cover
}



#about {
  background-image: url('koreanbbq.jpg');
  background-color: black;
  
  height: 100vh;

  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  opacity: 0.9;
}

#sign_in_bg {
  background-image: url('login.jpg');

  height: 100vh;

  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
}

#sign_up_bg {
  background-image: url('signin2.jpg');

  height: 100vh;

  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
}




/* //////////////////////THIS IS FOR SIGN IN AND SIGN UP ONLY////////////////////// */
.loginbox{
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.avatar{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: -70px;
  left: calc(50% - 60px);


}

#sign_in_up_text {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="username"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px; 
}

.loginbox button[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #D92B4B;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
}


.loginbox button[type="submit"]:hover {
  cursor: pointer;
  background: #3906cf;
  color: #000;
}
/* //////////////////////////////////////////////////  */
#aboutdetail {
  justify-content: center;
  align-items: center;
  display: block;
  color: black;
  font-weight: bold;
  text-align: center;
  background: rgba(255, 254, 254, 0.6);
  width: 300px;
  /* border: 3px solid white; */
  height: 300px;
  padding-top: 40px;

  margin-left: auto ;
  margin-right: auto ;
  
}

#aboutdetail p{
  font-weight: bold;
  color: rgba(0, 0, 0, 1)
}

body, html{
  height:100%;

}

#like_button {
  margin-right: 5px;
  border-radius: 12px;
}

#dislike_button{
  border-radius: 12px;
}
/* //////////////Restaurant Page CSS////////////////////////////////////  */

#not_like_title {
  text-align: center;
}
#liked_title {
  text-align: center;
}

/* ////////////////////// carousel cards effect/////////////////////*/
 .view_port{
  --_spacer: var(--size-3);
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  grid-auto-columns: min-content; 
  /* 25 before */

  padding: 0 var(--_spacer) var(--_spacer);

  overflow-x: scroll;
  overscroll-behavior-inline: contain;

} 
 
#media-element{
    display: grid;
    flex-direction: row;
  }

.customCard {
  text-align: center;
  border:  #c2949d solid 2px;
  padding: 1rem;
  width: 16rem;
  height: 23rem;
  border-radius: 10%;
  margin: 1rem 1rem;
}

.card_image {
  height: 180px;
}


#card_text{
  height: 60px;
}
